<div class="about">
    <span class="muted">&copy; 2013 bnqa.jp</span>
    <a href="{{ path('about_bnqa') }}" >bnqaについて</a>
    {#ヘルプ#}

    {#プライバシー#}
    {#求人#}
    <a href="{{ path('about_me') }}">開発者について</a>
    <a href="https://twitter.com/bnqa_jp" target="_blank">Twitter</a>
    <a href="{{ path('about_terms') }}" >利用規約</a>
    <a href="{{ path('about_contact') }}" >お問い合わせ</a>
    {#<a href="http://higan96.hatenablog.com/" target="_blank">ブログ（外部サイト）#}
    </a>
</div>
