<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">このレポートを削除しますか？</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3 col-sm-3 col-lg-3 del-modal-img"></div>
                    <div class="col-9 col-sm-9 col-lg-9">
                        <div class="del-modal-title"></div>
                        <div class="del-modal-body"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger js-action-del-button">削除</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">キャンセル</button>
            </div>
        </div>
    </div>
</div>