{#User Show#}
{% extends "AcmeBnqaBundle::base.html.twig" %}
{% set menu = "user" %}
{% set og_img_url = user.getProfileImgUrl(true)  %}
{% set og_title = user.username ~ ' - bnqa' %}
{% set controller = 'user' %}
{% block headerUnit %}
    <div class="header-unit">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-2">
                                <img src="{{ asset(user.getProfileImgUrl) }}" alt="{{ user.username }}"
                                     class="img-rounded img-polaroid img-profile-large">
                            </div>
                            <div class="col-lg-10">
                                <div id="user-username">
                                    <h1>{{ user.username }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock headerUnit %}
{% block page_title user.username %}
    {% block content %}
        <div class="row">
            <div class="col-lg-8" style="margin-bottom: 40px">
                {% render controller("AcmeBnqaBundle:Report:tabMenu" , { 'userId' :user.id ,'controller':'user' }) %}
                <div id="reports-line">
                    {% render controller("AcmeBnqaBundle:Report:reportsLine" , { 'targetUserId' : user.getId,'controller':'user' }) %}
                </div>
                <div class="well unit input-block-level load-to-read">
                    <span>つづきを読む</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <ul class="nav nav-tabs nav-justified following" style="border-bottom: 1px solid #ddd">
                        <li class="active">
                            <a href="#">フォロー中</a>
                        </li>
                    </ul>
                    <div class="following-sidebar-wrapper">
                        <div class="sidebar-body">
                            {% render controller("AcmeBnqaBundle:User:sidebar" , { user_id: user.id }) %}
                        </div>
                    </div>
                    {% include "AcmeBnqaBundle::about.html.twig" with{} %}
                </div>
                <div class="sidebar sidebar-ad visible-lg">
                    <script type="text/javascript"><!--
                        google_ad_client = "ca-pub-6281261028186687";
                        /* home_text */
                        google_ad_slot = "9339845283";
                        google_ad_width = 300;
                        google_ad_height = 250;
                        //-->
                    </script>
                    <script type="text/javascript"
                            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block js %}
        {% include "AcmeBnqaBundle::_js.html.twig" with{'controller':controller} %}
    {% endblock js %}