{% extends "AcmeBnqaBundle::report_unit.html.twig" %}
{% block url path('misprint_show',{'misprint_id':report.id,'username':report.user.username}) %}
{% block title %}
    <a href="{{ path('user_show',{'username':report.user.username}) }}" class="muted">
        {{ report.user.username }}
    </a>
{% endblock %}
{% block body %}
    <h4 class="text-error">誤</h4>
    <blockquote class="misprint-body wrong">
        {{ report.wrongBody }}
    </blockquote>
    <h4 class="text-success">正</h4>
    <blockquote class="misprint-body correct">
        {{ report.correctBody }}
    </blockquote>
{% endblock %}
{% block type %}
{% endblock %}
{% block bookmark %}
{% endblock %}