{% extends "AcmeBnqaBundle:Line:base_unit.html.twig" %}
{% block title %}
    <a href="{{ path('item_show',{'asin_code':report.asin_code}) }}">
        {{ report.title|slice(0,38) }}
    </a>
{% endblock %}